* {
    font-family: 'Montserrat', sans-serif; 
}
h1, h2, h3 {
    font-weight: 600;
}
body {
    margin: 0 auto;
}
header a {
    text-decoration: none;
    color: black;
}
a:hover {
    /*text-shadow: 2px 2px 2px rgb(221, 116, 65);*/
    color:rgb(201, 46, 49)
}
header {
    height: auto;
    border-bottom: solid 2px rgb(221, 116, 65);
    /*background-color: rgb(2, 141, 2);*/
}
.linkLogo:hover {
    scale: 1.1;
}
.navBar {
    display: flex;
    justify-content: space-between;
}
#logoPizza {
    width: 70px;
    height: auto;
    margin-left: 50px;
}
.alignLogo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alignLogoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(221, 116, 65);
    font-weight: 600;
}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    font-size: 1.5em;
}
li {
    padding-right: 50px;
}
.img_pizza {
    background-image: url('https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    height: 49vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titre {
    position: absolute;
    top: 450px;
    left: 850px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px white;
    font-weight: 600;
}

.lastReceipe {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 60px;
}
.lastReceipe h2 {
    font-size: 2.5em;
    padding-bottom: 50px;
    padding-top: 50px;
}
h3 {
    font-size: 1.5em;
}

.lastArticleTitle, .lastArticleImg {
    display: flex;
    justify-content: space-around;
}
.img_article {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
footer {
    color: white;
    border-top: 2px solid rgb(221, 116, 65);
    background-color: rgb(221, 116, 65);
}
footer a {
    color: white;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  
}
 #Nom, #prénom, #mail, #sujet, #Commentaire {
    width: 200px;
 }