body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 200px 20px 200px;
}


.corpo {
    padding-bottom: 200px;
}

.titree {
    color: red;
    margin-bottom: 50px;
}


.paragrafo {
    line-height: 30px;
}

.ingredients {
    color: green;
    margin-bottom: 30px;
}


.boxed {
    background: -webkit-linear-gradient(to bottom right, #ff0000, #ff6666);
    background: linear-gradient(to bottom right, #ff0000, #ff6666);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.tempo {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.difficolta {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.porzioni {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.costo {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.titoli h2 {
    margin: 0;
}

.section3{
    display: flexbox;
}


.firstcolumn {
    float: left;
    width: 60%;
    border-radius: 2%;
}


.secondcolumn {
    float: right;
}

.lastsection{
    margin-top: 480px;
}


.boxed2{
    background: -webkit-linear-gradient(to bottom right, #009830, #76ff8f);
    background: linear-gradient(to bottom right, #009830, #76ff8f);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.primo{
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.secondo{
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.terzo{
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.quarto{
    grid-column-start: 4;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.quinto{
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.sesto{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.settimo{
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.ottavo{
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

