*
{
font-family: 'Montserrat', sans-serif;    

}
/*---------------------------------*/

/*---------------------------------*/

/*Autres modifs d'Axel pour header et footer*/

* {
    font-family: 'Montserrat', sans-serif; 
}
h1, h2, h3 {
    font-weight: 600;
}
body {
    margin: 0 auto;
}
header a {
    text-decoration: none;
    color: black;
}
a:hover {
    /*text-shadow: 2px 2px 2px rgb(221, 116, 65);*/
    color:rgb(201, 46, 49)
}
header {
    height: auto;
    /*border-bottom: solid 2px rgb(221, 116, 65);*/
    /*background-color: rgb(2, 141, 2);*/
}
.linkLogo:hover {
    scale: 1.1;
}
.navBar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgb(221, 116, 65);
}
#logoPizza {
    width: 70px;
    height: auto;
    margin-left: 50px;
}
.alignLogo {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alignLogoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(221, 116, 65);
    font-weight: 600;
}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    font-size: 1.5em;
}
li {
    padding-right: 50px;
}
.img_pizza {
    background-image: url('https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    height: 49vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titre {
    position: absolute;
    top: 450px;
    left: 850px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px white;
    font-weight: 600;
}

.lastReceipe {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 60px;
}
.lastReceipe h2 {
    font-size: 2.5em;
    padding-bottom: 50px;
    padding-top: 50px;
}
h3 {
    font-size: 1.5em;
}

.lastArticleTitle, .lastArticleImg {
    display: flex;
    justify-content: space-around;
}
.img_article {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
footer {
    color: white;
    border-top: 2px solid rgb(221, 116, 65);
    background-color: rgb(221, 116, 65);
}
footer a {
    color: white;
    text-decoration: none;
}

/*---*/
h1
{
    font-size: 4em;
}

h2
{
    
    font-size :2em;
}
/*Jai enlevé la marge sur le body et ton padding est toujours la mais sur le main*/
body {
    margin: 0 auto;
}
main
{
    padding: 0 3%;
}

button
{
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(221, 116, 65);
    border : 0;
    border-radius: 10px;
    padding: 12px 24px;
}

.publications img
{
width: 100%;
height: 300px;
object-fit: cover;
}

.publications
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding : 50px 0;
}

article
{
    width: 25%;
    padding: 50px 15px;
   
}

.titres-blog
{
    color: white;
    background-image: url("https://images.unsplash.com/photo-1627461985459-51600559fffe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100vw;
    padding: 50px 20px 50px 100px;
}

.titres-blog h2
{
    padding-right: 55%;
}

aside
{
    width: 20%;
    margin-top : 100px;
    margin-left: 15px;
    float: right;
    color: white;
    /*background-color: cornsilk;*/
    background-image: url("https://images.unsplash.com/photo-1543132685-cd95dd76c03d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEzfHxwaXp6YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    
}

aside>div
{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

article h3
{
    margin : 5px;
}

aside ul
{
    list-style: none;
    padding-top: 250px;
}

aside ul li
{
    padding-top: 10px;
    margin-left: 0;
    padding-left: 0;
}
